@import 'layouts/header.scss';
@import 'vendor/bootstrap';

.uni-background {
	background-color: #f1cdd7;
	height: 100%;
	background-image: url(../images/uni-background.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}
.sidenav {
	height: 100%;
	position: fixed !important;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #CBF3F0;
	overflow-x: hidden;
	padding-top: 20px;
}
.btn-primary {
	color: #fff;
	background-color: #2EC4B6 !important;
	border-color: #2EC4B6 !important;
}
body {
	&.bg-light {
		background-color: #f0f8ff !important;
	}
}
.bg-light {
	background-color: #2EC4B6 !important;
}
.background-gradient {
	background: #90ceb0;
	background: linear-gradient(130deg, #90ceb0 0%, white 90%);
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}
.learning-image {
	height: 100%;
	width: 100%;
	background-image: url(../images/list-logo.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
}
.user-profile {
	font-size: 2em;
	margin-right: 10px;
	color: white;
}

.errorMessage {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}

.errorHighlight {
	border: 1px solid #ff0000;
}

.content-tree
{
	ul {
		ul {
			margin-left: 1em;
		}
	}

	.list-group-item {
		padding: 5px 20px;
	}

	.tree-active {
		background-color: #e8f5ee;
	}
}

.topic-level-1
{
	margin-left: 1em;
}

.topic-level-2
{
	margin-left: 2em;
}

.topic-level-3
{
	margin-left: 3em;
}

.topic-level-4
{
	margin-left: 4em;
}

