headerx  {
      #logo {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin-top: 20px;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Mansalva', cursive;
  }

  nav {
    text-align: center;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        background-color: #7b9bf5;
        padding: 0.5em;
        text-transform: uppercase;

        a {
        color: white;
        text-decoration: none;

          i {
              margin-right: 6px;
          }
        }
      }
    }
  }
}

.uni-background {
  background-color: #f1cdd7;
  height: 100%;
  background-image: url(../images/uni-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
